La loi indique qu'un email est suffisant (<a href="<%= help_privacy_url(:anchor => 'full_address') %>">plus d'infos</a>).

Au bas de cette page vous pouvez écrire à l'autorité publique pour le leur expliquer.
